numpy
opencv-python==4.8.1.78
scikit-image
tqdm==4.66.1
matplotlib==3.7.3
tensorboardX
pytorch_lightning==2.1.0
timm==0.9.8
einops==0.7.0
pillow==10.0.1
easydict==1.11

torch==2.1.0
torchvision==0.16.0
torchmetrics==1.2.0
